.label {
  display: block;
  margin-bottom: 0.5rem;
}

.dropdown {
  width: 100%;
  padding: 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
  margin-bottom: 1rem;
  border: none;
}

.error-message {
  color: red;
}

.error {
  select {
    box-shadow: 0px 1px 5px red;
  }
}
